
/**
 * @file
 * Solace Search CSS tuning.
 */

.assistant-search-result-page {
  margin-top: 1em;
}

.assistant-search-result {
  margin-bottom: 1em;
}

.assistant-search-result .author,
.assistant-search-result .update,
.assistant-search-result .comments
{
  font-size: smaller;
  line-height: 110%;
}

.score-back {
  border: 1px solid black;
  background: white;
  width: 50px;
  height: 7px;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}

.score-bar {
  background: green;
  opacity: 0.7;
  height: 7px;
}

.result-content {
  padding-left: 1em;
}
